@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
html,
body {
    margin: 0;
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

label {
  width:180px;
  clear:left;
  text-align:center;
  padding-right:10px;
}

input, label {
  float:left;
}
